main {
    height: 100vh;

    .mockup-content {
        display: flex;
        flex-direction: column;

        .stats-section {
            display: flex;
            justify-content: center;
            justify-content: space-around;
        }
    }
}