main .mockup-section {
    display: flex;
    flex-direction: column;
    gap: 5em;

    .stats-section {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;

        .stats {
            display: flex;
            flex-direction: column;

            .stats-icon {
                width: 2em;
            }

            .stats-content {
                .number {
                    font-weight: 700;
                    font-size: 4em;
                }

                .occupants {
                    color: gray;
                }
            }
        }
    }
}