main {
    // height: 200vh;

    outline: 1px solid red; // REMOVE

    .mockup-section {
        display: flex;
        flex-direction: column;
        gap: 5em;
    
        .stats-section {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
    
            .stats {
                display: flex;
                flex-direction: column;
    
                .stats-icon {
                    width: 2em;
                }
    
                .stats-content {
                    .number {
                        font-weight: 700;
                        font-size: 4em;
                    }
    
                    .occupants {
                        color: gray;
                    }
                }
            }
        }
    }

    .grid {

        outline: 1px solid red; // REMOVE

        .grid-box {
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 5em;

            outline: 1px solid red; // REMOVE

            .grid-content {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }
    }
}
