@use '../sass-utils/variables' as *;

.btn-primary {
    padding: .5em 2em;
    background: transparent;
    border: 1px solid $Light-Pink;;
    font-size: .8rem;
    color: $Light-Pink;
    border-radius: 2em;
    text-decoration: none;
    cursor: pointer;
}