.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;

    .hero-content {
        display: flex;
        gap: 1.5em;
        flex-direction: column;
        // position: relative;
        // top: 50%;

        .hero-title {
            font-size: 3em;       
        }

        .hero-subtitle {
            margin: 0 auto;
            max-width: 40%;
            font-size: 1.2rem;
            line-height: 1.5em;

        }
    }
}